[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
peewee = "*"
"psycopg2-binary" = "*"
logzero = "*"
requests = "*"
python-dotenv = "*"
click = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
isort = "*"
jupyter = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-mypy" = "*"
jedi = "*"
mypy = "*"
rope = "*"
flake8-comprehensions = "*"
flake8-alfred = "*"
flake8-todo = "*"
flake8-eradicate = "*"
flake8-import-order = "*"
vulture = "*"

[requires]
python_version = "3.7"
