[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
logzero = "*"
click = "*"
sentry-sdk = "*"
tortoise-orm = "*"
asyncpg = "*"
aiohttp = "*"
arrow = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
isort = "*"
mypy = "*"
vulture = "*"
fabric = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
aiomock = "*"
coverage = "*"
pylama = "*"
black = "*"
alembic = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
